@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#121212] text-[#e5e5e5];
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #505050;
}